root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 3

[*.dcl]
indent_size = 2
tab_width = 2

[*.java]
indent_size = 3
tab_width = 3

[{*.bash,*.sh,*.zsh}]
indent_size = 3
tab_width = 3

[{*.markdown,*.md}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml}]
indent_size = 2
